<%- include ("./partials/header.ejs") %>
<section id="dashboard">
  <div class="container px-sm-5 mt-2 mb-4">
    <%- include ("./components/user.navbar.ejs") %>

    <div class="row">
      <% books.forEach(book => { %>

      <div class="col-md-12 col-lg-6 my-2">
        <div class="card mb-3 border border-0 shadow">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="<%= book.imgThumb %>"
                class="card-img object-fit-cover rounded-start"
                alt="Wait"
              />
            </div>
            <div class="col-md-8 d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mb-0"><%= book.title %></h4>
                <small class="text-muted">by <%= book.author %></small>
                <p class="card-text mt-2 pt-2 border-top">
                  <%= book.description %>
                </p>
                <a
                  href="<%= book.link %>"
                  target="__blank"
                  class="btn btn-light"
                  ><i class="bi-chevron-right me-1"></i>Read More</a
                >
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <strong>Genre:</strong>
                  <%= book.category %>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include ("./partials/footer.ejs") %>
